#head{
    font-size: 25px;
    font-weight: bolder;
  }
  
  nav,ul,li,a{
    display: flex;
    margin: 0px 0px;
    padding: 5px 5px;
    justify-content: space-between;
    text-decoration: none;
  }
  
  #ul-font{
    font-size: small;
  }
  #ul-font{
    margin-left:auto;
    padding-right: 70px;
  }
  .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 10px); 
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
    list-style-type: none;
    line-height: 0.2;
    width: 140px;
  }
  
   .dropdown ul li {
    min-width: 200px;
    list-style-type: none;
    position: relative;
  }
  
   .dropdown ul a {
    padding: 10px 20px;
    font-size: 8px;
    list-style-type: none;  
  }
  
   .dropdown ul a i {
    font-size: 8px;
    list-style-type: none;
  }
  
   .dropdown ul a:hover,
   .dropdown ul .active:hover,
   .dropdown ul li:hover>a {
    color: #3498db;
  }
  
  .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
    list-style-type: none;
  }
  
   .dropdown .drop-down ul {
    top: 0;
    left: calc(100%  +30px);
    visibility: hidden;
    width: 150px;
  }
  
  .dropdown .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: -78%;
    visibility: visible;
  }
  
  
  #getstarted{
    background-color: blue;
   width: 95px;
    border-radius: 50px;
  padding-left: 20px;
  color: white;
  height: 32px;
  }
  .nav-item #getstarted:hover{
    color: white;
    background-color: blue;
  }
  #navbar a:hover, #navbar .active a {
    color: blue;
  }
  
  .dropdown .dropdown ul {
  top: 0;
  left: -100%; 
  visibility: hidden;
  }
  
  .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
  }
  .dropdown ul .dropdown-item {
  font-size: 10px;
  }
  
  
  @media only screen and (max-width: 450px) {
  .dropdown .drop-down ul {
    top: 0;
    left: auto;
    visibility: hidden;
    width: 150px;
  }
  
  .dropdown .drop-down:hover>ul {
    opacity: 1;
    top: 80px;
    left: auto; 
    visibility: visible;
  }
  
   #getstarted{
    width: 100%;
    max-width: 330px;
    margin-top: 10px;
  }
  #navbar #ul-font  {
    border: 1px solid #000; 
    background-color: #fff; 
    margin: 5px 0;
    border-radius: 4px; 
    width: 350px;
    line-height: 1;
  }
  }
  
  @media only screen and (max-width: 768px) and (min-width: 460px) {
  .dropdown .drop-down ul {
    top: 0;
    left: auto;
    visibility: hidden;
    width: 150px;
  }
  
  .dropdown .drop-down:hover>ul {
    opacity: 1;
    top: 80px;
    left: auto; 
    visibility: visible;
  }
  
   #getstarted{
    width: 530px;
    padding-top: 14px;
    background-color: blue;
    width: 95px;
     border-radius: 50px;
   padding-left: 20px;
   color: white;
   height: 32px;
   border:2px solid blue;
  
  }
  #navbar #ul-font  {
    border: 1px solid #000; 
    background-color: #fff; 
    margin: 5px 0;
    border-radius: 4px; 
    width: 700px;
    line-height: 1px;
  }
  #navbar .nav-item{
    font-size: 25px;
  }
  }